<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About us</title>
    <link rel="stylesheet" type="text/css" href="./css/styles.css">
    <link rel="shortcut icon" href="/img/p2.png" type="image/x-icon">
</head>

<body>
    <div class="container-about">
        <div class="header-about">
            <img class="img-about" src="/img/cat-thumbsup.jpg" alt="cat-thumbsup">
        </div>
        <div class="main-area-about">
            {{>header}}
            <p class="p-about">
                I’m a self-thought developer. This project is my first project. So I know it’s not good
                built, and nice looking project. But still its something, I guess. I used Dark Sky and Mapbox API's,
                as well as Node.js, Express.js, JS, HTML and CSS for this project. I also made this web app responsive
                to other devices as well.
            </p>
            <span class="footer" id="footer-about">{{>footer}}</span>
        </div>

    </div>


</body>

</html>